/* основной цвет текста #757575 */
/* контрастный цвет текста #FFFFFF */
/* цвет заголовков #212121 */
/* цвет контактов в футере rgba(255, 255, 255, 0.6) */
/* цвет hover текста #2196F3 */
/* основной цвет фона #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* контрастный цвет фона #2F303A */
/* hover-active цвет  фона #2196F3 */

:root {
  --primary-text-color: #757575;
  --contrast-text-color: #FFFFFF;
  --title-text-color: #212121;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196F3;
  --accent-button-background-color: #188CE8;
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --contrast-background-color: #2F303A;
  --accent-background-color: #2196F3;
}

body {
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.list {
  list-style: none;
}

.title {
  font-weight: 700;
  color: var(--title-text-color);
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
}

.button.active,
.button:hover,
.button:focus {
  color: var(--contrast-text-color);
  background-color: var(--accent-background-color);
}

/* Logo */

.logo {
  font-family: 'Raleway', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text-color);
  text-decoration: none;
}

.logo>span {
  color: var(--accent-text-color);
}

/* Menu */

.menu-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
}

.menu-item.active,
.menu-item:hover,
.menu-item:focus {
  color: var(--accent-text-color);
}

/* Contacts */

.contacts-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.address>.contacts-item:hover,
.address>.contacts-item:focus,
.contacts-item:hover,
.contacts-item:focus {
  color: var(--accent-text-color);
}

/* Sections */

.section>.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Hero */

.hero {
  background-color: var(--contrast-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--contrast-text-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--contrast-text-color);
  background-color: var(--accent-background-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-button-background-color);
}

/* Features */

.feature-title {
  font-size: inherit;
  text-transform: uppercase;
}

/* Section Team */

.team {
  background-color: var(--secondary-background-color);
}

.team-item {
  text-align: center;
  background-color: var(--primary-background-color);
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

/* Portfolio */

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-description {
  font-size: 16px;
  line-height: 1.87;
}

/* Footer */

.footer {
  background-color: var(--contrast-background-color);
}

.footer>.logo {
  color: var(--contrast-text-color);
}

.address {
  font-style: normal;
  color: var(--contrast-text-color);
}

.address>.contacts-item{
  color: var(--contacts-text-color);
}